.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "iconfont";
  /* Project id 3216756 */
  src: url("//at.alicdn.com/t/font_3216756_e8p7j024jhv.woff2?t=1647497850475") format("woff2"),
    url("//at.alicdn.com/t/font_3216756_e8p7j024jhv.woff?t=1647497850475") format("woff"),
    url("//at.alicdn.com/t/font_3216756_e8p7j024jhv.ttf?t=1647497850475") format("truetype");
}